/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "adelle-sans", sans-serif;
  background-color: white; }

.container {
  position: absolute;
  width: 100%;
  height: 100%; }
  .container section {
    position: absolute;
    height: 100%; }
  .container section#options {
    width: 22%;
    left: 0;
    overflow: scroll;
    border-right: 4px solid #34495e;
    text-align: center; }
    .container section#options h1 {
      font-size: 1.8em;
      text-align: center;
      margin: 15px auto; }
    .container section#options h2 {
      font-size: 1.2em;
      text-align: center; }
    .container section#options form .selectPeriod {
      border: 3px solid black;
      border-radius: 5px;
      padding: 5% 3%;
      width: 80%;
      margin: 15px auto;
      margin: 0 auto; }
      .container section#options form .selectPeriod input {
        margin: 10px auto 0 auto; }
      .container section#options form .selectPeriod input[placeholder] {
        font-size: 0.8em;
        padding: 2%; }
    .container section#options form .selectStocks {
      border: 3px solid black;
      border-radius: 5px;
      padding: 5% 3%;
      width: 80%;
      margin: 15px auto; }
      .container section#options form .selectStocks input {
        margin: 15px auto; }
      .container section#options form .selectStocks input[placeholder] {
        font-size: 0.8em;
        padding: 1%; }
      .container section#options form .selectStocks #stocksList {
        list-style: none;
        padding: 0px; }
        .container section#options form .selectStocks #stocksList li {
          padding: 10px 0px 10px 0px;
          border-bottom: 1px solid #e6e6e6; }
    .container section#options #stockDisplay {
      border: 3px solid black;
      border-radius: 5px;
      padding: 5% 3%;
      width: 80%;
      margin: 15px auto; }
      .container section#options #stockDisplay ul {
        margin: 15px auto 0 auto; }
    .container section#options .colorcube {
      width: 50px;
      height: 20px;
      float: left; }
  .container section#graph {
    width: 75%;
    left: 23%; }
    .container section#graph #graphCanvas {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 75%; }

/*# sourceMappingURL=style.css.map */
